/*------------------------Обнуление----------------------*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: normal;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    color: inherit;
}

/*------------------------Обнуление----------------------*/

.wrapper {
    font-family: "Unbounded", cursive;
    background-color: #dedede;
    min-height: 100%;
    display: grid;
    grid-template: minmax(170px, auto) 1fr minmax(5px, auto) / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
.header {
    grid-area: header;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    align-items: center;
    border: 2px solid #e8571c;
    border-radius: 0px 100px 0px 100px;
    margin: 30px 15px 30px 15px;
}
.header__logo {
    grid-column: 2 / 3;
    color: #e8571c;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.header__menu {
    grid-column: 3 / 4;
}

.header__list {
    line-height: 26px;

}

@media (min-width: 680px) {
    .header__list {
     display: grid;
     grid-auto-flow: column;
     text-align: center;
    }
}

.header__link {
    color: #e8571c;
    letter-spacing: 1px;
    font-weight: 300;
}

.header__link:hover {
    transition: color .4s linear;
    text-underline-offset: 6px;
    text-decoration: revert;
    text-decoration-color: #e8571c;
}

.main {
    margin: 0px 15px 30px 15px;
    background-color: #dedede;
}

@media (min-width: 992px) {
    .main {
        grid-area: main;
        background-color: #dedede;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    }
}

/* main */
/* sidebar */

.sidebar {
    grid-column: 2 / 3;
    padding: 50px 30px;
    margin: 0px 30px 0px 0px;
    border: 2px solid #e8571c;
    border-radius: 0px 100px 0px 100px;
}
@media (max-width: 992px) {
    .sidebar {
        grid-column: 2 / 3;
        padding: 30px;
        margin: 0px 0px 30px 0px;
        border: 2px solid #e8571c;
        border-radius: 73px 0px 73px 0px;
    }
}

.sidebar__list li {
    margin: 0px 0px 18px 0px;
    letter-spacing: 0.4px;
}

.side__text {
    color: #e8571c;
    font-weight: 300;
    line-height: 23px;
}

.sidebar__link {
    color: #e8571c;
    font-style: italic;
}
.content {
    grid-column: 3 / 4;
}

p {
    font-weight: 300;
    margin: 13px 0px;
    color: #e8571c;
    letter-spacing: 0.5px;
    line-height: 21px;
}

h1 {
    font-size: 26px;
    font-weight: 600;
    font-family: "Unbounded", cursive;
    margin: 20px 0px;
    color: #e8571c;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content__gallery {
    margin: 0px 0px 30px 0px;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
    color: #e8571c;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.gallery__items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery__item {
    position: relative;
    padding: 0px 0px 85% 0px;
}

.gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

@media (min-width: 767px) {
   .gallery__item_big {
    grid-column: span 2;
    grid-row: span 2;
    }
}



.products__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    overflow: hidden;
}

.products__item {
    border: 2px solid #e8571c;

}

.item__img {
    width: 100%;
    overflow: hidden;
}

.products__item img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
} 

.item__block {
    display: flex;
    border-top: 2px solid #e8571c;
    gap: 20px;
    max-height: 80px;
}


h3 {
    font-weight: 300;
    color: #e8571c;
    letter-spacing: 0.5px;
    line-height: 21px;
    padding: 10px;
}

button {
    color: #e8571c;
    background: none;
    letter-spacing: .5px;
    border-left: 2px solid #e8571c;
    padding: 0px 20px;
}

button:hover {
    color: #fff;
    background: #e8571c;
}

.copyright {
   margin-top: 30px;
}

.copyright p {
    margin: 1px 0;
}

footer {
    grid-area: footer;
}
