/*------------------------Обнуление----------------------*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    color: inherit;
}

/*------------------------Обнуление----------------------*/

.wrapper {
    background-color: #dedede;
    min-height: 100%;
    display: grid;
    grid-template: minmax(170px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
.header {
    grid-area: header;
    background-color: #dedede;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    align-items: center;
    border: 2px solid #e8571c;
    border-radius: 0px 100px 0px 100px;
    margin: 30px 15px 30px 15px;
}
.header__logo {
    grid-column: 2 / 3;
    color: #e8571c;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.4px;
    font-family: "Unbounded", cursive;
}
.header__menu {
    grid-column: 3 / 4;
}
.header__list {
        line-height: 25px;

}

@media (min-width: 680px) {
    .header__list {
     display: grid;
     grid-auto-flow: column;
     text-align: center;
}
}

.header__list li {
}

.header__link {
    color: #e8571c;
    letter-spacing: 1px;
    font-family: "Unbounded", cursive;
    font-weight: 300;
}
.header__burger {
}
.main {
    margin: 0px 15px 30px 15px;
    background-color: #dedede;
}
@media (min-width: 992px) {
    .main {
        grid-area: main;
        background-color: #dedede;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    }
}

/* main */
/* sidebar */

.sidebar {
    grid-column: 2 / 3;
    padding: 50px 30px;
    margin: 0px 30px 0px 0px;
    border: 2px solid #e8571c;
    border-radius: 0px 100px 0px 100px;
}
@media (max-width: 992px) {
    .sidebar {
        grid-column: 2 / 3;
        padding: 56px 30px 30px 30px;
        margin: 0px 0px 30px 0px;
        border: 2px solid #e8571c;
        border-radius: 73px 0px 73px 0px;
    }
}

.sidebar__menu {

}
.sidebar__list {
}
.sidebar__list li {
    margin: 0px 0px 18px 0px;
    letter-spacing: 0.4px;
}
.side__text {
    color: #e8571c;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 1;
    font-family: "Unbounded", cursive;
}

p {
    margin: 0px 0px 16px 0px;
}

.sidebar__link {
    color: #e8571c;
    font-style: italic;
}
.content {
    grid-column: 3 / 4;
    /* padding: 0px 0px 0px 30px; */
}
.content__title {
    font-size: 36px;
    font-weight: 600;
    font-family: "Unbounded", cursive;
    margin: 20px 0px 20px 0px;
    color: #e8571c;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 40px;
}
.content__gallery {
    margin: 0px 0px 30px 0px;
}
.gallery {
}
.gallery__title {
    font-size: 26px;
    font-weight: 600;
    font-family: "Unbounded", cursive;
    margin: 0px 0px 20px 0px;
    color: #e8571c;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.gallery__items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery__item {
    position: relative;
    padding: 0px 0px 85% 0px;
}
.gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}
.gallery__item_big {

}
@media (min-width: 767px) {
   .gallery__item_big {
    grid-column: span 2;
    grid-row: span 2;
}
}


.content__products {
}
.products {
}
.products__title {
    font-size: 21px;
    font-weight: 600;
    font-family: "Unbounded", cursive;
    margin: 0px 0px 20px 0px;
    color: #e8571c;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.products__items {
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.products__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px, auto) / 1fr;
}
.products__image {
    position: relative;
    padding: 0px 0px 90% 0px;
    margin: 0px 0px 20px 0px;
}
.products__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.products__name {
    font-weight: 300;
    color: #e8571c;
    line-height: 25px;
    margin: 0px 0px 20px 0px;
    letter-spacing: 0.3px;
    font-family: "Unbounded", cursive;
}
.products__button {
    color: #e8571c;
    border: 2px solid #e8571c;
    border-radius: 23px;
    letter-spacing: 1px;
    line-height: 12px;
    justify-self: start;
    padding: 10px 20px;
    font-weight: 400;
    font-family: "Unbounded", cursive;
}
.footer {
    display: grid;
    grid-area: footer;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 900px) 1fr;
    padding: 15px;
    align-items: center;
    background-color: #dedede;
    font-size: 14px;
    color: #e8571c;
    font-weight: 300;
    font-family: "Unbounded", cursive;
}

@media (min-width: 550px) {
    .footer__copy {
        grid-column: 2 / 3;
        text-align: right;
        
    }
    .footer__text {
        text-align: right;
        grid-column: 3 / 4;
    }
}

@media (max-width: 550px) {
    .footer {
        grid-template: 1fr 1fr / 1fr;
    }
    .footer__copy {
        order: 2;
    }
    .footer__text {
        line-height: 25px;
        order: 1;
    }
}